---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Research Use Disclaimer | PeptideResearch.eu">
  <section class="page-title bg-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a href="/" class="text-sm letter-spacing text-white text-uppercase font-weight-bold">Home</a></li>
              <li class="list-inline-item"><span class="text-white">|</span></li>
              <li class="list-inline-item"><a href="#" class="text-color text-uppercase text-sm letter-spacing">Disclaimer</a></li>
            </ul>
             <h1 class="text-lg text-white mt-2">Research Use Only Disclaimer</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          
          <div class="alert alert-danger border-0 shadow-sm mb-5" role="alert">
            <h4 class="alert-heading"><i class="ti-alert mr-2"></i>WARNING: NOT FOR HUMAN CONSUMPTION</h4>
            <p class="mb-0">The products offered by PeptideResearch.eu are intended exclusively for laboratory research and development purposes.</p>
          </div>

          <p class="lead mb-4">These products are not intended for use as food additives, drugs, cosmetics, household chemicals, or other inappropriate applications.</p>

          <p>The listing of a material on this site does not constitute a license to its use in infringement of any patent.</p>

          <p>All products must be handled only by qualified and trained individuals. The customer acknowledges that there are hazards associated with the use of these products.</p>

          <p>PeptideResearch.eu reserves the right to limit sales of products or not to sell products to unqualified customers.</p>
        </div>
      </div>
    </div>
  </section>
</Layout>
